@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --text-grey: hsl(233, 7%, 54%);
    --text-white: hsl(210, 17%, 98%);
    --text-light: hsl(0, 0%, 96%);
    --text-dark: hsl(219, 57%, 24%);
    --text-dark2: hsla(215, 57%, 24%, 0.831);
    --text-red: hsl(349, 100%, 65%);
    --box-shadow: 0 0 50PX 0 hsla(0, 0%, 0%, 0.1);
    --bg-blue: hsl(270, 100%, 98%);
    --bg-red: rgb(254,247,252);
    --bg-yellow: rgb(255,255,245);
    --bg-purple: rgb(246,255,255);


    --font-poppins: "Poppins", "sans-serif";

    --bg-gradient: linear-gradient(to right, #ff512f, #dd2476);
    --bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
    --bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);

    --bg-cover: url('.\Assets\bgimg1.png');
    --bg-image1: url('.\Assets\img1.png');
    --bg-image2: url('.\Assets\img2.png');
    --bg-image3: url('.\Assets\img3.png');
    
}





*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    background:var();
}



/* Global Classes */

.text-dark{
    color: var(--text-dark);
}

.text-white{
    color: var(--text-white);
}

.text-light{
    color: var(--text-light);
}

.text-grey{
    color: var(--text-grey);
}

.text-red{
    color: var(--text-red);
}

.bg-gradient{
    background: var(--bg-gradient);
}

.bg-gradient-indigo{
    background: var(--bg-gradient-indigo);
}

.bg-gradient-peach{
    background: var(--bg-gradient-peach);
}

.bg-gradient-blue{
    background: var(--bg-blue);
}

.bg-gradient-yellow{
    background: var(--bg-yellow);
}

.bg-gradient-red{
    background: var(--bg-purple);
}

.font-poppins{
    font-family: var(--font-poppins);
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: 1em;
    line-height: 1.5em;
}

.text-md{
    font-size: 1.5em;
}

.text-lg{
    font-size: 2.2em;
    line-height: 3em;
}

.text-xl{
    font-size: 3em;
}

.text-2xl{
    font-size: 5em;
}

.font-bold{
    font-weight: bold;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-initial{
    flex: 0 1 auto;
}

.flex-grow{
    flex-grow: 1;
}

.justify-center{
    justify-content: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.container{
    
}